---
import Layout from '@layouts/layout.astro';
import Block from '@components/block.astro';
import { Icon } from 'astro-icon/components';

type Service = {
  name: string;
  description: string;
  logo: string;
};

const services: Service[] = [
  {
    name: 'Legacy System Modernization',
    description:
      'Modernize and optimize your legacy systems with our continuous engineering services. We enhance performance, security, and maintainability, ensuring your systems remain robust and reliable.',
    logo: 'service-1',
  },
  {
    name: 'Innovative Software Development',
    description:
      'From concept to deployment, we develop custom software solutions that drive innovation and deliver measurable results. Let us help you bring your groundbreaking ideas to life and achieve your business goals.',
    logo: 'service-2',
  },
  {
    name: 'DevOps Infrastructure Management',
    description:
      'Streamline your software delivery pipelines with our DevOps services. From designing and optimizing CI/CD pipelines to managing and operating your infrastructure, we help you build a resilient and scalable environment that drives continuous innovation.',
    logo: 'service-3',
  },
  {
    name: 'UX Design Services',
    description:
      'Deliver exceptional user experiences with our UX design services. From wireframing and prototyping to user testing and iterative design, we help you create intuitive, user-friendly interfaces that drive engagement and business results.',
    logo: 'service-3',
  },
];
---

<Layout title="Services">
  <main class="flex h-full flex-col">
    <Block class="basis-1/3 border-t-0" showTopLeft={false} showTopRight={false}>
      <div class="flex flex-row h-full">
        <Block class="basis-2/3 border-t-0 border-l-0 border-r-0 p-10 pr-24 content-center" showTopLeft={false} showBottomLeft={false}>
          <h1 class="font-roboto font-thin text-5xl mb-8">We specialize in <p class="text-orange-500">Bridging the Tech Canyon</p></h1>
          <p class="font-roboto font-light text-2xl">offering a range of innovative solutions tailored to meet your digital needs.</p>
        </Block>
        <Block
          class="basis-1/3 border-t-0 border-r-0 border-b-0 flex justify-center items-center p-10"
          showTopLeft={false}
          showTopRight={false}
          showBottomRight={false}
          showBottomLeft={false}
        >
          <Icon name="services" width={204} height={260} class="drop-shadow-[0_0_0.25em_rgba(255,92,0,1)]" />
        </Block>
      </div>
    </Block>
    <Block class="basis-2/3 border-t-0" showTopLeft={false} showTopRight={false}>
      <div class="flex flex-row h-full">
        <Block class="basis-1/3 border-l-0 border-t-0 border-b-0 p-8" showTopLeft={false} showBottomLeft={false}>
          <h2 class="font-roboto font-light text-2xl mb-4">Offerings</h2>
          <p>Tailored software solutions to meet your unique business needs.</p>
        </Block>
        <div class="basis-2/3 flex flex-col">
          {
            services.map((service) => (
              <Block class="flex flex-col p-8 border-t-0 border-l-0 border-r-0" showTopLeft={false} showTopRight={false}>
                <button class="flex-1 toggle-button">
                  <div class="flex items-center">
                    <Icon name={service.logo} height={100} width={100} />
                    <div>
                      <h3 class="font-roboto text-2xl pl-8">{service.name}</h3>
                    </div>
                    <span class="indicator text-orange-600 uppercase font-bold flex flex-1 justify-end">+ More</span>
                  </div>
                </button>
                <div class="mx-32 hidden">
                  Tailored software solutions to meet your unique business needs. Our team leverages the latest technologies to build scalable and robust custom
                  applications.
                </div>
              </Block>
            ))
          }
        </div>
      </div>
    </Block>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.toggle-button');

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        const content = button.nextElementSibling;
        content?.classList.toggle('hidden');

        const indicator = button.querySelector('.indicator');
        if (indicator) {
          indicator.innerHTML = content?.classList.contains('hidden') ? '+ More' : '- Less';
        }
      });
    });
  });
</script>
